{% extends "baseGolfApp.html" %}

{% block content %}
{% load static %}

<!-- Player details -->
<a href="{% url 'tourplayers'%}">
<div class="bigShadow landingpageButton purpleBackground orangeBorder2" style="background-color: #3A178B">
  <div id="landingpageIconContainer"><img class="landingIconImage" src="{% static 'icons/tourdetailsPlayerWhite.svg' %}"></div><!--update this SRC to custom ICON 'tourdetailsNameColor.svg' etc-->
  <div class="bold duelText lightorangeText" id="landingpageTextContainer" style="font-size: 2.2rem">Player details</div>
</div></a>

<!-- #Points -->
<a href="{% url 'touragenda' %}">
<div class="bigShadow landingpageButton purpleBackground orangeBorder2" style="background-color: #3A178B">
  <div id="landingpageIconContainer"><img class="landingIconImage" src="{% static 'icons/tourdetailsAgendaWhite.svg' %}"></div><!--update this SRC to custom ICON 'tourdetailsNameColor.svg' etc-->
  <div class="bold duelText lightorangeText" id="landingpageTextContainer" style="font-size: 2.2rem">Points</div>
</div></a>

<!-- #TourMap -->
<a href="https://drive.google.com/open?id=1zBhX7397l1_VDdueypHfXqawYpJoI12-&usp=sharing" target="_blank">
  <div class="bigShadow landingpageButton purpleBackground orangeBorder2" style="background-color: #3A178B"> <!--id="tourdetailsButtonMap"><update this ID to custom with background images etc-->
  <div id="landingpageIconContainer"><img class="landingIconImage" src="{% static 'icons/tourdetailsMapWhite.svg' %}"></div><!--update this SRC to custom ICON 'tourdetailsNameColor.svg' etc-->
  <div class="bold duelText lightorangeText" id="landingpageTextContainer" style="font-size: 2.2rem">Tour map</div>
</div></a>


{% endblock %}
